venv
__pycache__

*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz

*.log
*.log.*
*.log.*.*
*.log.*.*.*
*.log.*.*.*.*

.env
.env.example
.env.local
.env.development
.env.production
.env.test
.env.test.local
.env.test.local
